@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Playfair+Display:wght@700&display=swap');

:root {
  --primary-black: #111111;
  --primary-blue: #0D8FCD;
  --primary-dark: rgb(255,255,255,0);
  --primary-grey: #363636;
  --primary-blue: #0D8FCD;
  --primary-yellow: #FFDB35;
}

html {
  scroll-padding-top: 81px !important; /* height of your navbar */
}

body {
  font-family: "Noto Sans", sans-serif !important;
  font-size: 16px !important;
  color: var(--primary-grey) !important;
  scroll-behavior: smooth;
  /* position: relative !important; */

}

h1 {
  font-family: "Playfair Display", serif !important;
  font-size: 51px !important;
  color: var(--primary-black) !important;
  font-weight: 700 !important;
}

h2 {
  font-family: "Playfair Display", serif !important;
  font-size: 46px !important;
  color: var(--primary-black) !important;
  font-weight: 700 !important;
}

h3 {
  font-family: "Playfair Display", serif !important;
  font-size: 25px !important;
  color: var(--primary-black) !important;
  font-weight: 700 !important;
}

p {
  font-family: "Noto Sans", sans-serif !important;
  font-size: 16px !important;
  color: var(--primary-grey) !important;
}

li {
  font-size: 16px !important;
}


/********************************** NAVBAR **********************************/


.navLogo {
  width: 3rem;
  height: 3rem;
}

.navbar {
  padding-left: 0 !important;
  padding-right: 0 !important;
  padding-bottom: 0 !important;
  padding-top: 0 !important;
}

/* ------------------ Menu links ------------------ */

 nav a.nav-link {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  cursor: pointer;
}


.navbar-nav > li > a {
  color: var(--primary-black) !important;
}

.navbar-brand {
  max-width: 17.25rem;
  padding: 0 !important;
}

@media(max-width: 768px) {
  .navbar-brand {
    width: 7rem;
  }
}

.active-scroll-spy {
  background-color: #f6f6f6;
  border-radius: 4px;
 
}

.ss-item {
  padding-right: 1rem;
  padding-left: 1rem;
}


/********************************** HEADER **********************************/


.header-wrapper {
  position: relative;
  background-size: cover;
  background-position: center;
  display:flex;
  justify-content: center;
}

.main-info {
  max-width: 61%;
}

.main-info h1 {
  margin-top: 5rem;
}

.intro1 {
  margin-top: 4rem;
}

.intro2 {
  margin-top: 2rem;
  margin-bottom: 5rem;
}

.intro2 > a {
  color: var(--primary-grey);
}

.intro2 > a:hover {
  color: var(--primary-blue);
}


@media(max-width: 768px) {
  .main-info h1 {
    font-size: 2rem !important;
    margin-top: 5rem;
  }
  .main-info p {
    font-size: 0.875rem !important;
  }

  .list-inline {
    padding-bottom: 5rem;
    
  }
}

.list-inline {
  padding-bottom: 7rem;
  vertical-align: middle !important;
}

.list-inline-item > a.medium , .list-inline-item > a.linkedIn {
  margin-left: 1rem;
}


/********************************** Works **********************************/

.works-wrapper {
  position: relative;
  background-size: cover;
  background-position: center;
  display:flex;
  justify-content: center;
}

.works-info {
  max-width: 61%;
}

.works-header {
  margin-top: 5rem !important;
}

.pro-works-list {
  margin-top: 2rem !important;
  margin-bottom: 5rem !important;
}

.personal-works-list {
  margin-top: 2rem !important;
  margin-bottom: 10rem !important;
}

.works-imgs > a:link {
  text-decoration: none;
}

.personalWorks {
  display:flex;
  justify-content: center;
}

@media(max-width: 1200px) {
  .works-info h1 {
    font-size: 2rem !important;

  }

  .works-info h3 {
    font-size: 1.2rem !important;
  }

  .works-info p {
    font-size: 0.875rem !important;
  }

  .works-imgs {
    margin-top: 1rem !important;
  }

  .pro-works-list {
    margin-top: 0 !important;
    margin-bottom: 5rem !important;
  }

  .personal-works-list {
    margin-top: 0 !important;
    margin-bottom: 5rem !important;
  }

}


/********************************** About **********************************/


.About-wrapper {
  position: relative;
  background-size: cover;
  background-position: center;
  display:flex;
  justify-content: center;
}

.About-info {
  max-width: 61% !important;
}

.AboutHeader {
  margin-top: 5rem !important;
  display:flex;
  justify-content: center;
}

.profilePicture {
  margin-top: 2rem;
}

.about-contents {
  margin-top: 3rem !important;
}

.about-contents-certificates {
  margin-top: 3rem !important;
  margin-bottom: 5rem;
}

.certsList {
  margin-top: 1rem !important;
}

.experienceList {
  margin-top: 2rem;
}

@media(max-width: 1030px) {
  .About-info h1 {
    font-size: 2rem !important;
  }

  .About-info h2 {
    font-size: 1.5rem !important;
  }

  .About-info h3 {
    font-size: 1.2rem !important;
  }

  .About-info p {
    font-size: 0.875rem !important;
  }

  dt {
    font-size: 0.875rem !important;
  }

  dd {
    font-size: 0.8125rem !important;
  }

}


/********************************** Contact **********************************/

.contact-wrapper {
  position: relative;
  background-size: cover;
  background-position: center;
  display:flex;
  justify-content: center;
}

.contact-info {
  max-width: 61% !important;
}

.contactHeader {
  margin-top: 5rem !important;
  margin-bottom: 2rem !important;
  text-align: center;
}

.contactSocial {
  display:flex;
  justify-content: center;
}

@media(max-width: 768px) {
  .contact-info h1 {
    font-size: 2rem !important;
  }

}


/********************************** About this wehsite **********************************/


.thisWebSite-wrapper {
  position: relative;
  background-size: cover;
  background-position: center;
  display:flex;
  justify-content: center;
}

.thisWebSite-info {
  max-width: 61%;
  margin-bottom: 7rem;
}

.thisWebSiteHeader {
  margin-bottom: 2rem !important;
}

@media(max-width: 768px) {
  .thisWebSite-info h1 {
    font-size: 2rem !important;
  }

  .thisWebSite-info p {
    font-size: 0.875rem !important;
  }

  .thisWebSite-info li {
    font-size: 0.875rem !important;
  }

  .footerSocials {
    vertical-align: middle !important;
  }

}


/********************************** About this wehsite **********************************/


.footer-right {
  padding-left: 1.5rem;
}

.footer-social {
  padding-right: 1.5rem;
}


/********************************** Sections **********************************/







